/* Root */
.root {
    -fx-background-color: #1e1e1e;
    -fx-font-family: "Segoe UI";
}

/* Scrollbar */
.scroll-bar {
    -fx-background-color: #2b2b2b;
}
.scroll-bar .thumb {
    -fx-background-color: #555;
    -fx-background-radius: 4;
}
.scroll-bar .track {
    -fx-background-color: #2b2b2b;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #2b2b2b;
}

/* TextField */
.text-field {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: white;
    -fx-prompt-text-fill: gray;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

/* Button */
.button {
    -fx-background-color: #555;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 4;
}
.button:hover {
    -fx-background-color: #777;
}

/* Toggle Button */
.toggle-button {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 4;
}
.toggle-button::selection {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
}